@import 'https://fonts.googleapis.com/css?family=Averia+Serif+Libre';

* {
	cursor:url('../mice/mouse_default.png'),default;
	font-family: 'Averia Serif Libre', serif;
}

body {
	background:#101010;
	
}
/* 3840 x 2160 */
/* 1080p? */
#wrapper {
	width:720px;
	height:405px;
	border: 1px solid white;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-360px;
	margin-top:-202px;
	cursor:url('../mice/mouse_default.png');
	transform-origin: 50% 50%;
}

#picture {
	background-color:white;
	position:absolute;
	width:720px;
	height:405px;
	/*image-rendering: pixelated;*/
}

#navclicks {
	position:absolute;
	width:100%;
	height:100%;
}

.navclick {
	position:absolute;
	/*background:#FFDDFF;*/
}

#click-left {
	width:100px;
	height:505px;
	left:-50px;
	top:-50px;
	cursor:url('../mice/mouse_left.png'),default;
}

#click-right {
	width:100px;
	height:505px;
	right:-50px;
	top:-50px;
	cursor:url('../mice/mouse_right.png'),default;
}

#click-up {
	height:100px;
	width:100%;
	top:-50px;
	cursor:url('../mice/mouse_up.png'),default;
	/*background:#DDFFFF;*/
}

#click-down {
	height:100px;
	width:100%;
	bottom:-50px;
	cursor:url('../mice/mouse_down.png'),default;
	/*background:#DDFFFF;*/
}

#clickers {
	position:absolute;
	width:620px;
	height:305px;
	top:50px;
	left:50px;
	/* background:#DDFFFF; */
}

.clicker {
	position:absolute;
	cursor:url('../mice/mouse_click.png'),default;
	margin-top:-50px;
	margin-left:-50px;
	/*background:#FFFF77;*/
	opacity:1;
	background-repeat: no-repeat;
	/*image-rendering: pixelated;*/
}


#inline {
	position: absolute;
	width: 0px;
	height: 0px; /*WIDTH AND HEIGHT WILL BE SET IN JAVASCRIPT */
	left:50%;
	bottom:0px;

	visibility: visible;
	/*image-rendering:pixelated;*/
}

#inline-clickers {
	position:absolute;
	width:100%;
	height:100%;
	/*background:#FF9999;*/
}

.inline-clicker {
	position:absolute;
	cursor:url('../mice/mouse_click.png'),default;
	background-repeat: no-repeat;
	/*image-rendering: pixelated;*/

	background-size:contain;

	border-bottom: 1px dashed green;
	border-right: 1px dashed green;
}

.inline-dismisser {
	position:absolute;	
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	cursor:url('../mice/mouse_default.png'),default;
	/**/
	/*background:#FFDDDD;*/

	visibility:hidden;
}




#inventory {
	position:absolute;
	top:405px;
	left:0px;
	width:720px;
}

.item {
	position:relative;
	float:left;
	width:50px;
	height:50px;
	padding:3px;
}

.item img {
	/*image-rendering:pixelated;*/
	max-width:100%;
	max-height:100%;
}

.tooltip {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

.item:hover .tooltip{
	position:absolute;
	display:block;
	background:#FFF;
	border:1px solid black;
	padding:1px;
}

#subtitle {
	position:absolute;
	top:465px;
	left:0px;
	width:720px;
	text-align:center;
	font-size:16pt;
	color:white;
}

p {
	color:white;
	font-size: 28pt;
}

a {
	cursor:url('../mice/mouse_click.png'),default;
	font-size: 12pt;
	text-decoration: underline;
}

/* basement room */
#girl {
	position: absolute;
	bottom:-30px;
	left:45px;
	width:83px;
	height:116px;
	background:url(../clickers/GirlSitting.png);
	background-size:contain;
	/*background-color:green;*/
}


/* debug */

#debug-inv {
	font-size:6pt;
}


